@font-face {
    font-family: "Haittel";
    src: url(../fonts/Haittel-Regular.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.wrapper{
    position: absolute;
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: black;
}

/* Header */

.wrapper .headerContainer{
    display: flex;
    width: 70%;
    height: 300px;
    column-gap: 5px;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: center;
    align-self: center;
    margin-bottom: 30px;
}

@media only screen and (orientation: portrait) {
   .wrapper .headerContainer {
        flex-direction: column;
        justify-content: center;
    }
}
.headerContainer > * {
    flex: 1;
}

.headerContainer .santi{
    min-width: 50%;
    height: 100px;
    margin: auto;
    align-content: flex-end;
    justify-content: center;
    justify-self: center;
    align-self: center;
    
    flex-basis: 50%;
}

.santi>img{
    max-width: 50%;
    width: auto;
    height: auto;
    align-self: center;
}

@media only screen and (orientation: portrait) {
    .santi>img{
        justify-self: center;
    }
}

.socialsDropdown{
    position: relative;
    height: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-end;
    flex-basis: 50%;
    align-content: flex-end;
}

@media only screen and (orientation: portrait) {
    .socialsDropdown{
        width: 100%;
    }
}

.socialsDropdown .dropButton{
    background-color: transparent;
    color: white;
    font-family: "Haittel";
    font-weight: bold;
    font-size: 25px;
    border: none;
    background: none;
    height: 100px;
    margin-left: 250px;
    margin-bottom: -10px;
}

@media only screen and (orientation: portrait){
    .socialsDropdown .dropButton{
        margin-left: 0px;
    }
}

.dropdownContent{
    display: none;
    opacity: 0;
    position: absolute;
    width: 80%;
    max-height: 100px;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: -20px;
    transition: opacity 1s;
}

@media only screen and (orientation:portrait){
    .dropdownContent{
        margin-bottom: -20px;
        margin-left: 40px;
    }
}

.show {
    display: flex;
    opacity: 1;
    flex-direction: row;
    justify-content: space-evenly;
}
.headerContainer .socials{
    display: flex;
    width: 50%;
    max-height: 150px;
    margin: auto;
    justify-content: space-evenly;
}

.socials>a{
    height: 10%;
}
/* Add socialLogo animation */

.socialLogo{
    filter: invert(100%);
    max-width: 35%;
    max-height: 150px;
    height: auto;
}

.emailButton{
    padding: 0;
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    transition: color 700ms;
    margin-top: -2px;
    margin-left: -15px;
}

button:hover{
    cursor: pointer;
}

/* Body */

.wrapper .bodyContainer{
    display: flex;
    width: 75%;
    height: auto;
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-self: center;
    align-self: center;
    align-content: center;
    row-gap: 5px;
}

.bodyContainer> a > *{
    flex: 1;
}

.bodyContainer>a{
    text-decoration: none;
}

.project{
    display: flex;
    height: 300px;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    flex-basis: 50%;
    color: white;
    font-family: "Haittel";
    font-size: 25px;
    font-weight: bold;
}

.project>span{
    opacity: 0;
    display: flex;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    transition: opacity 1s;
}

.project:hover span{
    opacity: 1;
}

.project>img{
    max-width: 75%;
    height: auto;
    align-self: center;
    filter: grayscale(100%);
    transition: filter 1s;
}

.project:hover img{
    filter: grayscale(0%);
}

/* Extra Links Div */

.extraLinks{
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    justify-self: center;
    align-self: center;
    font-family: "Haittel";
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.extraLinks>a{
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: center;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
