@font-face {
    font-family: "Frank";
    src: url(../fonts/Frank-Black.ttf);
}


body{
    background-color: black;
}

.myName{
    font-size:xx-large;
    font-family: "Frank";
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: -100px;
    margin-top: 50px;
    
}

.myName>img{
    width: 30%;
}

.container{
    width: 600px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.container .socials{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: flex-end;
    margin-right: 50px;
    margin-bottom: 15px;
}

.socialLogo{
    filter: invert(100%);
    width: 30px;
    transition: filter 700ms;
    margin-right: 5px;
}




  .socialLogo:hover{
    filter: invert(0%);
    filter: invert(88%) sepia(90%) saturate(1002%) hue-rotate(134deg) brightness(102%) contrast(104%);
}

.contactEmail {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 35px;
  }

.contactEmail .tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 70%;
    margin-left: -43px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 15px;
  }

.contactEmail .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
button{
    padding: 0;
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    transition: color 700ms;
}

button:hover{
    cursor: pointer;
}

.contactEmail:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
